<div>
  <h2>Bookings</h2>
  <table>
      <tr>
          <th>Checkin</th>
          <th>Checkout</th>
          <th>Room</th>
          <th>Name</th>
          <th>Email</th>
      </tr>
      <tr *ngFor="let item of bookings">
          <td>{{ item.checkInDate.seconds * 1000 | date:'yyyy-MM-dd'}}</td>
          <td>{{ item.checkOutDate.seconds * 1000 | date:'yyyy-MM-dd' }}</td>
          <td>{{ item.room }}</td>
          <td>{{ item.personName }}</td>
          <td>{{ item.personMail }}</td>
      </tr>
    </table>
</div>


