<div class="col-md-12">
  <h2>Bookings</h2>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="checkInDate">
      <th mat-header-cell *matHeaderCellDef> Check-in </th>
      <td mat-cell *matCellDef="let element"> {{element.checkInDate | date:'MM/dd/yyyy' }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="checkOutDate">
      <th mat-header-cell *matHeaderCellDef> Check-out </th>
      <td mat-cell *matCellDef="let element"> {{element.checkOutDate | date:'MM/dd/yyyy' }} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="room">
      <th mat-header-cell *matHeaderCellDef> Room </th>
      <td mat-cell *matCellDef="let element"> {{element.room}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="personName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.personName}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="personMail">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.personMail}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>