<div class="container">
  <div class="container__inner">  
  <h1>Angular Demo Application</h1>
  <div class="logos">
    <img src="https://angular.io/assets/images/logos/angular/angular.svg"/>
    <img src="https://firebase.google.com/images/brand-guidelines/logo-built_white.png"/>
  </div>
  <div class="ingress">
    Application is made by me to develop and test my Angular skills.<br>
    Content and bookings are stored in a Firebase Cloud Firestore.<br>
    login: tobias@tobiasolsson.se | qwerty
  </div>
  <h2>Component: Book room</h2>
    <div class="section">
        Form for booking hotel rooms.<br>
        <ul>
          <li>Angular Material Datepicker</li>
          <li>Form validation</li>
          <li>Fetching rooms from Firebase database</li>
          <li>Todo: Booking recipt</li>
        </ul>
    </div>
  
  <h2>Component: Bookings</h2>
    <div class="section">
        Administer bookings<br>
        <ul>
          <li>Check-in booking</li>
          <li>Delete booking</li>
        </ul>
    </div>
  <h2>Component: Rooms</h2>
  <div class="section">
      Administer Rooms<br>
      <ul>
        <li>Change content</li>
        <li>Add/Delete Rooms</li>
        <li>Todo: Image upload to fireStore</li>
      </ul>
  </div>
</div>
</div>
