$large-screen: 1200px;
$medium-screen: 750px;
$small-screen: 600px;
$max-width: em($large-screen);
@mixin tablet {
    @media (max-width: #{$medium-screen}) {
      @content;
    }
  }
  @mixin desktop {
    @media (max-width: #{$large-screen}) {
      @content;
    }
  }
  @mixin largescreen {
    @media (min-width: #{$large-screen}) {
      @content;
    }
  }
  @mixin phone {
    @media (max-width: #{$small-screen}) {
      @content;
    }
  }
.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 20px;
    background: #000;
    @include phone{
        grid-template-columns: 1fr; 
    }
}
.formContainer{
    padding:20px;
    @include phone{
        grid-row-start: 2;
    }
    .roomImage{
        width: 100%;
        height: auto;
    }
    label{
        color:#FFF;
        display: block;   
    }
    input, textarea{
        box-sizing : border-box;
        width:100%;
        padding: 10px;
        border: none;
        margin-bottom: 20px;
        &:focus{
            outline: none;
        }
    }
    button{
        width: 100%;
        text-align: center;
        color: #000;
        background-color: #FFF;
        border-radius: 25px;
        height: 50px;
        font-size: 15px;
        text-transform: uppercase;
        border: none;
        line-height: 15px;
        font-family: 'TransatTextBold', Helvetica, Arial, Sans-Serif;
        font-weight: 600;
        cursor: pointer
        &:disabled{
            background-color: #232323;
        }
        &:hover{
            background-color:rgb(76, 175, 80);
            color: #fff;
        }
    }
   
}
.roomsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    background-color: #fff;
    @include tablet{
        grid-template-columns: 1fr 1fr; 
    }
    @include phone{
        grid-template-columns: 1fr; 
    }
    
}
.room{
    position: relative;
    padding-bottom: 20px;
    img{
        width: 100%;
        height: auto;
    }
    button{
        background-color: #000;
        color:#FFF;
        width: auto;
        padding: 10px 20px;
        text-transform: uppercase;
        display: inline-block;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        &:hover{
            background-color: #FFF;
            color: #000;
        }
        
    }
    .deleteRoom{
        right: auto;
        left: 0;
        &:hover{
            background-color: #E95858;
            color: #fff;
        }
    }
}

