  <div class="col-md-12">
      <div class="form-group ">
        <label for="checkin">Check in</label>
        <input type="date" 
          class="form-control" 
          id="checkin" 
          name="checkin"
          (input)= "onUpdateCheckInDate($event)"
          [(ngModel)]="todaysDate" 
          required>
      </div>
 
      <div class="form-group">
        <label for="checkout">Check out</label>
        <input type="date" 
          class="form-control" 
          id="checkout"
          name="checkout"
          (input)= "onUpdateCheckInDate($event)"
          required>
      </div>     
    </div>
    <p *ngIf="checkInDate">Check in:{{checkInDate}}</p>
    <p *ngIf="checkOutDate">Check out: {{checkOutDate}}</p>
    <p>Date = {{ today | date : "'today is ' MMMM d, y" }}</p>
