  <div class="col-md-12">
    <h2>Select dates</h2>
      <div class="form-group ">
        <label for="checkin">Check in</label>
        <input type="date" 
          class="form-control" 
          id="checkin" 
          [ngModel]= "checkInDate"
          [min]="minDate"
          (input)= "onUpdateCheckInDate($event)"
          required>
      </div>
      <div class="form-group">
        <label for="checkout">Check out</label>
        <input type="date" 
          class="form-control" 
          id="checkout"
          [min]="checkOutMinDate"
          [ngModel]= "checkOutDate"
          (input)= "onUpdateCheckOutDate($event)"
          required>
      </div>     
</div>