$large-screen: 1200px;
$medium-screen: 750px;
$small-screen: 600px;
$max-width: em($large-screen);
@mixin tablet {
    @media (max-width: #{$medium-screen}) {
      @content;
    }
  }
  @mixin desktop {
    @media (max-width: #{$large-screen}) {
      @content;
    }
  }
  @mixin largescreen {
    @media (min-width: #{$large-screen}) {
      @content;
    }
  }
  @mixin phone {
    @media (max-width: #{$small-screen}) {
      @content;
    }
  }

.header{
    background: #e0e0e0;
    position: fixed;
    padding: 15px 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    @include phone{
        display: block;
    }
    // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.title{
    display: inline-block;
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    
}
.nav{
    @include phone{
        display: flex;
        justify-content: space-between;
    }
    a, button{
        @extend .title;
        color: lighten(#000,60);;
        &:hover{
            color: lighten(#000,40);
        }
    }
    .active{
        color: #000;
        &:hover{
            color: #000;
        }
    }
    button{
        border: none;
        cursor: pointer;
        &:hover{
            color: #000;
        }
    }
}
.main{
    margin-top: 80px;
}


