$sass: #000;
.bookingform{
    max-width: 375px;
    padding: 20px;
    background-color: $sass;
    margin: 0 auto;
    color: #FFF;
    -webkit-filter: drop-shadow(0 0 7px rgba(#ccc,1));      
    filter: drop-shadow(0 0 7px rgba(#ccc,1));
    h2{
        text-transform: uppercase;
        text-align: center;
        font-size: 1em;
        border-bottom: 1px solid #FFF;
        font-weight: normal;
    }
    button{
        width: 100%;
        text-align: center;
        color: #000;
        background-color: #FFF;
        border-radius: 25px;
        height: 50px;
        font-size: 15px;
        text-transform: uppercase;
        border: none;
        padding-top: 6px;
        font-family: 'TransatTextBold', Helvetica, Arial, Sans-Serif;
        &:disabled{
            background-color: #232323;
        }
    }
}
.mat-form-field-appearance-legacy .mat-form-field-label{
 color:#515151;   
}
.mat-form-field{
    display: block;
    clear: both;
    padding-bottom: 30px;
    text-align: center;
}

//event
.event{
    &-datum{
        display: block;
        clear: both;
        overflow: hidden;
        margin: 0 auto;
        padding: .78125em 1.5625em;
        text-align: center;
        
    }
    &_datum{
        &__from, &__line, &__to{
            float: left;
        }
        &__line{
            font-size: 3em;
            line-height: 1em;
        }
    }
    &-day{
        font-size: 3em;
        font-family: 'TransatTextBold', Helvetica, Arial, Sans-Serif;
    line-height: 1em;
    }
    &-month{
        margin-top: -.5em;
    }
}